
		body
		{
			background-color : pink;
		}
		nav {
			background-color: hotpink;
			overflow: hidden;
		}
		nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
		}
		nav ul li {
			float: left;
		}
		nav ul li a {
			display: block;
			color: black;
			text-align: center;
			padding: 14px 20px;
			text-decoration: none;
		}
		nav ul li a:hover {
			background-color: floralwhite;
		}
		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
		}


